@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: rgb(195, 195, 195);
    background: linear-gradient(6deg, rgba(195, 195, 195, 1) 0%, rgba(182, 182, 182, 1) 36%, rgba(169, 255, 186, 1) 100%);
    /* Barra de rolagm no Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0);
}


/* Barra de rolagem no Chrome, Edge e Safari */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(195, 195, 195);
    background: linear-gradient(90deg, rgba(195, 195, 195, 1) 0%, rgba(182, 182, 182, 1) 36%, rgba(169, 255, 186, 1) 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.801);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.logo {
    width: 110%;
    cursor: pointer;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 560px;
    width: 100%;
    gap: 10px;
}

.conteudo-principal-titulo {
    font-family: 'Mukta', sans-serif;
    font-size: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formulario {
    display: flex;
}

input {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 5px;
    border-width: 2px;
    border-color: black;
    width: 300px;
    height: 45px;
    background-color: transparent;
}

input:hover {
    border-width: 4px;
}

.identificador-cad {
    margin-top: 30px;
}

.enviar-botao {
    margin-top: 12px;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    color: aliceblue;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    transition: 0.2s linear;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    width: 390px;
    height: 460px;
}

.voltar-botao {
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    margin-top: 20px;
    color: aliceblue;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    transition: 0.2s linear;
}